#bookForm {
    display: none;
}

html, body {
    height: 100%;
    background-color: rgb(220, 250, 240);
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    padding-top: 50px;
}

table {
    width: 50%;
    min-width: 800px;
    border-style: solid 1px green;
    border-collapse: collapse;
}

th {
    text-align: left;
    font-size: 18pt;
    background-color: aliceblue;
}

td {
    font-size: 12pt;
    background-color: gainsboro;
}

table, th, td {
    border: 1px solid;
}